*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Fredoka";
  src: url("../fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Sonali Borno";
  src: url("../fonts/Sonali_Borno/FN\ Sonali\ Borno\ Unicode.woff2")
    format("woff2");
  font-display: swap;
}

:root {
  --bg-color: #2a1962;

  --arrow-up: #3598c3;
  --arrow-down: #3dbfb6;
  --arrow-left: #f18d31;
  --arrow-right: #d7464f;

  --bg-blank-box: #2b2057;
  --bg-wall-box: #3e2467;
  --bg-robot-box: #dd5c92;

  --text-program: #4ecdc4;
  --text-command: #ffd43a;
  --text-color: #6b5b89;
  --text-warning: #db403b;

  --bg-passed-box: #1f5074;
  --color-passed-dot: #03dd82;

  font-size: 62.5%;
}

body {
  margin: 0;
}

.font-sonali-borno {
  font-family: "Sonali Borno";
}

.font-fredoka {
  font-family: "Fredoka";
}

.robot-icon {
  background-image: url("../images/robot_path_challenge/robot.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem;
}

.wall-icon {
  background-image: url("../images/robot_path_challenge/brick-wall.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 5rem;
  width: 5rem;
}

.star-icon {
  background-image: url("../images/robot_path_challenge/star.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 5rem;
  width: 5rem;
}

.diamond-icon {
  background-image: url("../images/robot_path_challenge/diamond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 5rem;
  width: 5rem;
}

.light-bulb-icon {
  background-image: url("../images/robot_path_challenge/light-bulb.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 5rem;
  width: 5rem;
}

.point-icon {
  background-image: url("../images/robot_path_challenge/point.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 5rem;
  width: 5rem;
}

.trophy-icon {
  background-image: url("../images/robot_path_challenge/trophy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 2.2rem;
  width: 2.2rem;
}

.navbar {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.brand-title {
  font-size: 1.4rem;
  color: var(--text-command);
  font-weight: 600;
  margin: 0;
}

.game-level {
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  margin: 0;
}

.trophy-score-container {
  border: 1px solid var(--text-command);
  padding: 0.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 5.5rem;
  width: 5.5rem;
  background-color: color-mix(in srgb, var(--text-command) 10%, transparent);
}

#trophy-score {
  color: var(--text-command);
  font-size: 1.4rem;
}
